html{
    height:100%;    
    overflow: hidden;   /*remove the scrollbar*/
}
body{   
    display: flex;   /* this will make the header, body one, two and three as long with the footer flex items*/
    flex-direction: column; /*we want them to stack atop each other*/
    min-height:100%;
    margin:0;
}

.body-one,.body-two, .body-three, .footer{
    flex:1 auto ;   /*stretch the 4 flex items*/
}

/*header styling*/

.header{
    display: flex;  /*we want our header to be a flex container in order to space the left and right part*/
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between; /*as I said, we want the 2 items (left div and right div) to be spaced apart*/
    padding-left: 170px;    /*with those padding we will create some free space
                              on the left-right with still the background color*/
    padding-right: 170px;
}

.left-head{
    color:#f9faf8;
    font-size: 25px;
    font-weight: 700;
}


.right-head ul li a{
    color:#e5e7eb;
    font-size:18px;
}

.right-head ul{
    list-style:none;
    display: flex;  /*we want the ul to be a flex container, in order to arrange items in a row and space them*/
    padding:0px;    /*REMEMBER that every ul has some default padding on the left*/
    width:400px;    /*we increase the ul width (originally it was about 300px in order to space the 3 anchors*/
    justify-content: space-around;  /*this will space all the 3 anchors*/
}

/*body one styling*/

.body-one{
    display:flex;
    background-color: #1f2937;
    padding-left: 170px;
    padding-right:170px;
}

.body-one .left-body-one{
    width:750px;
    margin-top:40px;
}
.body-one h2{
    font-weight:extra-bold;
    font-size:45px;
    color: #f9faf8;
    margin:0;
    width:400px;
}

.body-one p{
    color:#e5e7eb;
    font-size: 18px;
    margin:0;
    width:400px;
}

.body-one button{
    background-color:#3882f6;
    color:#f9faf8;
    padding: 5px 20px;
    margin-top: 7px;
    border-radius: 6px;
    font-weight: 700;
    border:#3882f6;
}

.right-body-one{
    flex: 1;
    color:#e5e7eb;
    margin-top:40px;
    font-size:18px;
}

.right-body-one .placeholder{
    background-color: #6e768693;
    height:182px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* body two styling*/
.body-two{
    display: flex;  /*We want all our body-two to be a flex-container, so we can stack
                      the h3 element and the cards (div container for cards) one atop each other*/
    flex-direction: column;
    align-items: center;    /*this will align items on the cross-axis, which is horizontally*/
}

.body-two h3{
    color:#1f2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.body-two .cards{
    display:flex;   /*we also want our card container to be a flex container as well, in order to
                     display the cards in a row and create some gap between them*/
    gap:30px;
    font-size:18px;
}

.body-two .cards img{
    height: 150px;  /*given the fact that images are not loaded, we need to specify an height and a width,
                      in order to see the border that we will apply later*/
    width: 150px;
    border:2px solid #3882f6;
    border-radius: 10px;
}

.body-two .cards .text{
    height:50px;
    width:150px;
}

