html{
    height:100%;    
    overflow: hidden;   /*remove the scrollbar*/
}
body{   
    display: flex;   /* this will make the header, body one, two and three as long with the footer flex items*/
    flex-direction: column; /*we want them to stack atop each other*/
    min-height:100%;
}

.body-one,.body-two, .body-three, .footer{
    flex:1 auto ;   /*stretch the 4 flex items*/
}

/*header styling*/

.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.left-head{

}
